@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');

:root {
--background-color: rgba(250, 250, 250, 1.0);
--main-text-color: #3e3e3e;
--sec-text-color: #777676;
--main-color: #BA7BA1;
--secondary-color: #52437B;
--accent-color: #fdef96;

--photo-category: var(--main-color);
--illustration-category: #ffaf65;
--vector-category: var(--accent-color);
--font-category: rgb(129, 180, 167);
--icon-category: #A9DFF2;
--tool-category: rgb(164, 143, 221);;
}

html {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color: var(--main-text-color);
}

h1 {
    font-weight: 600;
    font-size: 4rem;
    letter-spacing: 0.1rem;
    margin: 0.5rem;
}

h2 {
    font-weight: 200;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    margin: 0.5rem;
    color: var(--main-color)
}

a, a:hover, a:visited, a:active {
    text-decoration: none;
}