.container {
    width: 300px;
    height: calc(225px - 2rem);
    border-radius: 10px;
    box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
    transition: ease all 0.2s;
    border: solid 1px #ececec;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 1rem 0 1rem 0;
}

.container-hide {
    display: none;
}

.container:hover {
    transform: translateY(-3px);
    box-shadow: 0 12px 30px -12px rgba(0,0,0,0.4);
}


.title {
    text-align: center;
}

.title h3 {
    margin: 0;
    padding-top: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.03rem;
    color: var(--main-text-color);
}

.desc p {
    color: var(--main-text-color);
    text-align: center;
    padding: 1rem;
    margin: 0;
}

.icon-container {
    padding: 0.3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

